*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  align-items: center;

  background: linear-gradient(#2B2FA4, #FFB45E);
  font-family: sans-serif;
  color: white;
}

.location, .tempurature {
  height: 30vh;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.tempurature {
  flex-flow: column wrap;
}

.h2temp {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.h2temp h2{
  font-size: 40px;
}

.h2temp span {
  margin: 10px;
  font-size: 30px;
}
